.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  nav {
    a {
      text-decoration: none;
      color: #444;
    }
  }

  .name-with-pp {
    display: flex;
    align-items: center;
    cursor: pointer;

    .name {
      font-size: 14px;
    }

    img {
      border-radius: 50%;
    }
  }
}

.active-link {
  font-weight: bold;
  color: #ffcc00;
}